/* src/styles/onepage.css or a new CSS file */

.conversion-links-container {
  width: 900px;
  margin: 50px auto;
}
.conversion-links{
    display: flex;
    flex-direction: column;
}

.conversion-links a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #0070f3;
  color: white;
  font-size: 16px;
}

.conversion-links a:hover {
  background-color: #005bb5;
}
